<?php

return [
    'paths' => [
        'tests' => 'tests',
        'source' => 'src'
    ],
    'bootstrap' => function() {
        // Autoloader
        spl_autoload_register(function ($class) {
            $prefixes = [
                'App\\' => __DIR__ . '/../src/',
                'Tests\\' => __DIR__ . '/../tests/'
            ];
            
            foreach ($prefixes as $prefix => $baseDir) {
                $len = strlen($prefix);
                if (strncmp($prefix, $class, $len) !== 0) {
                    continue;
                }
                
                $relativeClass = substr($class, $len);
                $file = $baseDir . str_replace('\\', '/', $relativeClass) . '.php';
                
                if (file_exists($file)) {
                    require $file;
                }
            }
        });
    }
];
